<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading row">
        <h4>Input VXU</h4>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
						<textarea id="Message" class="form-control" ng-trim="false"
                      rows="10" [(ngModel)]="messageText"></textarea>
        </div>
      </div>

      <button class="btn btn-primary" type="submit" (click)="submit()">Submit</button>&nbsp;
      <button class="btn btn-primary" type="submit" (click)="getExample()">Example</button>
    </div>
  </div>
  <br/><br/><br/>
  <div *ngIf="validationResult | async as vr" class="row">
    <div class="col-md-12" *ngIf="vr.ack != null">
      <div class="heading row">
        <h4>Message ACK</h4>
      </div>
      <div class="text-primary text-center loading"
           *ngIf="vr.ack == null">
           <fa-icon  [icon]="['fas', 'cog']" [spin]="true"></fa-icon> <br/> <span>Validating
						Message...</span>
      </div>
      <div id="messageAck" *ngIf="vr != null">
        <div class="row">
          <div class="col-md-12">
            <pre>{{vr.ack}}</pre>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="vr.ack != null">
          <div class="heading row">
            <h4>MQE Evaluation</h4>
          </div>
          <div class="heading row">
            <h5>Errors</h5>
          </div>
          <div id="errorFindings">
            <table class="table">
              <thead>
              <tr>
                <th class="col-md-5">Issue</th>
                <th class="col-md-1">Code</th>
                <th class="col-md-1">Severity</th>
                <th class="col-md-5">Location</th>
              </tr>
              </thead>
              <ng-container *ngIf="errorArray.length == 0">
                <tbody>
                  <tr>
                    <td>
                      No Error Codes
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-container *ngIf="errorArray.length > 0">
                <tbody *ngFor="let rule of errorArray">
                    <tr *ngFor="let issue of rule">
                      <td>{{issue.applicationErrorCode.alternateText}}</td>
                      <td>{{issue.applicationErrorCode.alternateIdentifier}}</td>
                      <td>{{issue.severity}}</td>
                      <td><span *ngFor="let location of issue.hl7LocationList">
                        {{location.segmentId}}-{{location.fieldPosition}}
                      </span>
                      </td>
                    </tr>
                </tbody>
              </ng-container>
            </table>
          </div>
          <div class="heading row">
            <h5>Warnings</h5>
          </div>
          <div id="warnFindings">
            <table class="table">
              <thead>
              <tr>
                <th class="col-md-5">Issue</th>
                <th class="col-md-1">Code</th>
                <th class="col-md-1">Severity</th>
                <th class="col-md-5">Location</th>
              </tr>
              </thead>
              <ng-container *ngIf="warnArray.length == 0">
                  <tbody>
                    <tr>
                      <td>
                        No Warning Codes
                      </td>
                    </tr>
                  </tbody>
              </ng-container>
              <ng-container *ngIf="warnArray.length > 0">
                  <tbody *ngFor="let rule of warnArray">
                      <tr *ngFor="let issue of rule">
                        <td>{{issue.applicationErrorCode.alternateText}}</td>
                        <td>{{issue.applicationErrorCode.alternateIdentifier}}</td>
                        <td>{{issue.severity}}</td>
                        <td><span *ngFor="let location of issue.hl7LocationList">
                          {{location.segmentId}}-{{location.fieldPosition}}
                        </span>
                        </td>
                      </tr>
                  </tbody>
              </ng-container>
            </table>
          </div>
          <div class="heading row">
            <h5>Informational</h5>
          </div>
          <div id="infoFindings">
            <table class="table">
              <thead>
              <tr>
                <th class="col-md-5">Issue</th>
                <th class="col-md-1">Code</th>
                <th class="col-md-1">Severity</th>
                <th class="col-md-5">Location</th>
              </tr>
              </thead>
              <ng-container *ngIf="infoArray.length == 0">
                  <tbody>
                    <tr>
                      <td>
                        No Informational Codes
                      </td>
                    </tr>
                  </tbody>
              </ng-container>
              <ng-container *ngIf="infoArray.length > 0">
                  <tbody *ngFor="let rule of infoArray">
                      <tr *ngFor="let detection of rule">
                        <td>{{detection.applicationErrorCode.alternateText}}</td>
                        <td>{{detection.applicationErrorCode.alternateIdentifier}}</td>
                        <td>{{detection.severity}}</td>
                        <td><span *ngFor="let location of detection.hl7LocationList">
                          {{location.segmentId}}-{{location.fieldPosition}}
                        </span>
                        </td>
                      </tr>
                  </tbody>
              </ng-container>
            </table>
          </div>
          <div class="heading row">
            <h5>Accept</h5>
          </div>
          <div id="acceptFindings">
            <table class="table">
              <thead>
              <tr>
                <th class="col-md-5">Issue</th>
                <th class="col-md-1">Code</th>
                <th class="col-md-1">Severity</th>
                <th class="col-md-5">Location</th>
              </tr>
              </thead>
              <ng-container *ngIf="acceptArray.length == 0">
                  <tbody>
                    <tr>
                      <td>
                        No Accepted Codes
                      </td>
                    </tr>
                  </tbody>
              </ng-container>
              <ng-container *ngIf="acceptArray.length > 0">
                  <tbody *ngFor="let rule of acceptArray">
                      <tr *ngFor="let detection of rule">
                        <td>{{detection.applicationErrorCode.alternateText}}</td>
                        <td>{{detection.applicationErrorCode.alternateIdentifier}}</td>
                        <td>{{detection.severity}}</td>
                        <td><span *ngFor="let location of detection.hl7LocationList">
                          {{location.segmentId}}-{{location.fieldPosition}}
                        </span>
                        </td>
                      </tr>
                  </tbody>
              </ng-container>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
