/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* other fields */
textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: pre;
    overflow-x: auto;
}

.heading {
    /* border-bottom: 1px solid #aaa; */
    letter-spacing: 3px;
    margin: 0 0 10px;
    padding: 5px;
    text-transform: uppercase;
}

.panel-danger>.panel-heading {
    background-color: white;
}

.detection-warn {
    color:#828282;
}
.loading span {
    font-size: larger;
}

/* for JSON formatting */
pre {
    background-color: #f7f7f7;
}

/* for sticky footer */
html {
    min-height: 100%;
    position: relative;
}

body {
    /*     font-family: Avenir, "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1.5em; */
    margin-bottom: 60px; /* matches footer height */
}

.footer {
    background-color: #c3c3c3;
    bottom: 0;
    color: white;
    height: 40px; /* fixed height of footer */
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}



span.h7h { /* #h7h stands for HL7 Highlight */
    background-color: #5eb5c9;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    /* font-weight:bold; */
    font-size: 1em;
    font-weight: bold;
    color:white;
    border-radius: .25em;
}

/* override the pagination UIB styles */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #b1bcc5;
    border-color: #c5c5c5;
}

.table-striped > tbody > tr.h7h {
    font-weight: bold;
    background-color: #cae3ea;
}

.h7hActive {
    padding: 2px;
    cursor: pointer;
}

.h7hActive:hover {
    background-color: #337ab7; /*#c1c1c1;/*#5bc0de;*/
    color: white; /*#4c4c4c;*/
    padding: 2px;
    border-radius: .25em;
}

div.calToolTip {
    width: 200px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.calToolTip p.key {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
}

.calToolTip p.value {
    padding-bottom: 7px;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 1;
    /* padding: 5px; */
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* fixes fake buttons so they can be disabled (so the user can't click on them) but still have bright colors */
.fakebtn:disabled {
    opacity: 1;
}

.messageList-header {
    font-size: 2em;
    margin-top: 0;
}

.recently {
    margin-bottom: -23px;
    margin-left: 9px;
    font-weight: 400;
    color: #5f5f5f;
}

.results {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0 30px;
    right: 15px;
}

.resultsBtn {
    background-color: #f2f2f2;
    border-color: darkgray;
    border-radius: 6px;
    color: #444;
    font-size: 16px;
    margin: 3px 0;
    width: 60px;
}

.resultsBtn:active:focus {
    outline: 0;
}

.resultsBtn.active, .resultsBtn.active:hover, .resultsBtn.active:focus {
    background-color: #b2d1da;
    font-weight: bold;
    position: relative;
    left: 17px;
    outline: 0;
}

.resultsBtn:hover {
    background-color: #e1e1e1;
}

.resultsNav {
    padding-top: 20px;
    z-index: 1;
}

.typeahead label {
    color: #5f5f5f;
}

.typeahead input {
    font-size: 1.6em;
    height: 60px;
    padding-left: 20px;
    /* margin:7px; */
}

.typeahead input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: .8em;
    color: #5f5f5f;
}

.typeahead input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: .8em;
    color: #5f5f5f;
    opacity: 1;
}

.typeahead input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: .8em;
    color: #5f5f5f;
    opacity: 1;
}

.typeahead input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: .8em;
    color: #5f5f5f;
}

.valueText {
    font-size: 15px;
}

input[type="file"], .upload-file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upload-file-name {
	padding:0;
	display:block;
}

input[type="file"] {
    width:100%;   
}

input[type="password"] {
    font-size:20px;
}

.vaccineTypeTable {
}

.vaccineTypePresentExpected {
	padding: 4px;
	text-align: center;
	background-color: #00cc00;
	border-width: 2px, 2px, 2px 2px;
	border-color: black;
	border-style: sold;
}

.vaccineTypePresentPossible {
	padding: 4px;
	text-align: center;
	background-color: #f2f2f2;
	border-width: 2px, 2px, 2px 2px;
	border-color: black;
	border-style: sold;
}

.vaccineTypePresentNotExpected {
	padding: 4px;
	text-align: center;
	background-color: #ffff66;
	border-style: none;
}

.vaccineTypePresentNotPossible {
	padding: 4px;
	text-align: center;
	background-color: #ff3300;
	border-style: none;
}

.vaccineTypeNotPresentExpected {
	padding: 4px;
	text-align: center;
	background-color: #ff3300;
	border-width: 2px, 2px, 2px 2px;
	border-color: black;
	border-style: sold;
}

.vaccineTypeNotPresentPossible {
	padding: 4px;
	text-align: center;
	background-color: #f2f2f2;
	border-width: 2px, 2px, 2px 2px;
	border-color: black;
	border-style: sold;
}

.vaccineTypeNotPresentNotExpected {
	padding: 4px;
	text-align: center;
	background-color: #ffffff;
	border-style: none;
}

.vaccineTypeNotPresentNotPossible {
	padding: 4px;
	text-align: center;
	background-color: #ffffff;
	border-style: none;
}

html {
    overflow-y: scroll;
}
ul.pagination > li > a {
    width: 60px;
    text-align: center;
}
.dropbtn {
    background-color: grey;
    color: white;
    font-size: 2em;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3bbfef;
}

/* Datepicker popup icon */

button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  /* Sortable table demo */
  
  th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
  th[sortable].desc:before, th[sortable].asc:before {
    content: '';
    display: block;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAmxJREFUeAHtmksrRVEUx72fH8CIGQNJkpGUUmakDEiZSJRIZsRQmCkTJRmZmJgQE0kpX0D5DJKJgff7v+ru2u3O3vvc67TOvsdatdrnnP1Y///v7HvvubdbUiIhBISAEBACQkAICAEhIAQ4CXSh2DnyDfmCPEG2Iv9F9MPlM/LHyAecdyMzHYNwR3fdNK/OH9HXl1UCozD24TCvILxizEDWIEzA0FcM8woCgRrJCoS5PIwrANQSMAJX1LEI9bqpQo4JYNFFKRSvIgsxHDVnqZgIkPnNBM0rIGtYk9YOOsqgbgepRCfdbmFtqhFkVEDVPjJp0+Z6e6hRHhqBKgg6ZDCvYBygVmUoEGoh5JTRvIJwhJo1aUOoh4CLPMyvxxi7EWOMgnCGsXXI1GIXlZUYX7ucU+kbR8NW8lh3O7cue0Pk32MKndfUxQFAwxdirk3fHappAnc0oqDPzDfGTBrCfHP04dM4oTV8cxr0SVzH9FF07xD3ib6xCDE+M+aUcVygtWzzbtGX2rPBrEUYfecfQkaFzYi6HjVnGBdtL7epqAlc1+jRdAap74RrnPc4BCijttY2tRcdN0g17w7HqZrXhdJTYAuS3hd8z+vKgK3V1zWPae0mZDMykadBn1hTQBLnZNwVrJpSe/NwEeDsEwCctEOsJTsgxLvCqUl2ACftEGvJDgjxrnBqkh3ASTvEWrIDQrwrnJpkB3DSDrGW7IAQ7wqnJtkBnLRztejXXVu4+mxz/nQ9jR1w5VB86ejLTFcnnDwhzV+F6T+CHZlx6THSjn76eyyBIOPHyDakhBAQAkJACAgBISAEhIAQYCLwC8JxpAmsEGt6AAAAAElFTkSuQmCC') no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
  }
  
  th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  
  /* Filtering table demo */
  ngbd-table-filtering span.ngb-highlight {
    background-color: yellow;
  }
  
  /* Complete table demo */
  ngbd-table-complete span.ngb-highlight {
    background-color: yellow;
  }