<style>
table, th, td {
    text-align : center;
}
</style>
<h3>Detections Documentation</h3>
<select class="form-control" style="width: 100px; display: inline-block;" ng-model=exportType >
		<option>Table</option>
		<option>Document</option>
</select>
<a class="btn btn-primary" type="submit" target="_blank" href="documentation/pdf?type={{exportType}}">Download Documentation as PDF</a>
<div ng-controller="DetectionsDocumentationController" style="width : 100%; margin-top: 10px;">

	<table st-table="rows" class="table table-condensed table-striped table-bordered" >
		<thead>
		<tr>
			<th style="min-width: 100px;">Code</th>
			<th>Description</th>
			<th>Target</th>
			<th>Field</th>
			<th>Severity</th>
			<th style="max-width: 500px;">Details</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rows">
			<td style="vertical-align: middle; min-width: 100px;" > <div ng-style="{ 'background-color' : row.active ? '#00fb00' : '#f14b4b', 
			'min-width': '10px',
		    'min-height': '10px',
		    'border-radius': '10px',
		    'display': 'inline-block',
		    'margin-right': '5px'
			}"></div><strong>{{row.code}}</strong></td>
			<td style="vertical-align: middle;">{{row.description}}</td>
			<td style="vertical-align: middle;">{{row.target}}</td>
			<td style="vertical-align: middle;">{{row.field}}</td>
			<td style="vertical-align: middle;">{{row.severity}}</td>
			<td style="max-width: 500px;">
				<table ng-show="row.details" class="table table-condensed table-striped">
					<thead>
						<tr>
							<th> Rule </th>
							<th> Implementation </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="detail in row.details">
							<td>{{detail.rule}}</td>
							<td>{{detail.details}}</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>

</div>