<div class="container dashboard-container">
  <h4>Provider Dashboard</h4>
  <div *ngIf="facilityList|async as f">
      <app-provider-typeahead (typeaheadChoice)="newFacility($event)" [facilityList]="f"></app-provider-typeahead>
  </div>
  <div *ngIf="year1|async as y1">
    <app-calendar [calendarInfo]="y1" (select)="dateSelected($event)"></app-calendar>
  </div>
  <div *ngIf="year2|async as y2">
    <app-calendar [calendarInfo]="y2" (select)="dateSelected($event)"></app-calendar>
  </div>
</div>
