<div>
    <div class="row">
        <div class="col-md-12">
            <h2>File Upload</h2>
        </div>
    </div>
</div>                                               
<div>
    <div class="row" ng-repeat='(fileId, fileUpload) in fileUploads'
         style="border:2px dotted grey; padding:10px;margin:10px;">
        <div class="col-md-4" style="padding-top:5px;padding-bottom:5px;">
            <span class="upload-file-name">{{fileUpload.fileName}}</span>
        </div>
        <div class="col-md-2" style="padding-top:5px;padding-bottom:5px;">
            {{fileUpload.numberOfMessages}} messages <br />
            {{fileUpload.averageElapsed}} ms avg
        </div>
        <div class="col-md-4" style="padding-top:5px;padding-bottom:5px;">
            <uib-progressbar type="{{fileUpload.deleteRequested === true ? 'warning' : 'success'}}" style="margin-bottom:0px;"ng-class="{'active progress-striped' : fileUpload.percentage < 100 }" max="fileUpload.numberOfMessages" value="fileUpload.numberProcessed"><span style="color:white; white-space:nowrap;">{{fileUpload.percentage}} %</span></uib-progressbar>
        </div>
        <div class="col-md-1">
            <button class="btn btn-default" type="submit" ng-click="downloadAcks(fileId)" ng-disabled="fileUpload.percentage < 100"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Acks</button>
        </div>
        <div class="col-md-1" >
            <!--<button style="display:inline" class="btn btn-sm" ng-click="startFile(fileId)"><i class="glyphicon glyphicon-play" aria-hidden="true"></i></button>-->
            <!--<button style="display:inline" class="btn btn-sm" ng-click="stopFile(fileId)"><i class="glyphicon glyphicon-stop" aria-hidden="true"></i></button>-->
            <button ng-if="!fileUpload.deleteRequested" class="btn btn-sm" ng-click="removeFile(fileId)"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>
            <!--<button ng-if="fileUpload.deleteRequested" style="display:inline" class="btn btn-sm" ng-click="cancelRemove(fileId)"><i class="glyphicon glyphicon-undo" aria-hidden="true"></i> Undo</button>-->
            <!--<uib-progressbar ng-if="fileUpload.deleteRequested" type="success" ng-click="cancelRemove(fileId)" max="100" value="fileUpload.countdown"><span style="color:black; white-space:nowrap;">Cancel</span></uib-progressbar>-->
            <button ng-if="fileUpload.deleteRequested" style="background-color:rgba(216,119,0,.{{(fileUpload.countdown < 10) ? '0'+fileUpload.countdown : fileUpload.countdown}});color:white;" class="btn btn-sm" ng-click="cancelRemove(fileId)"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Cancel</button>
        </div>
    </div>
</div>
<div>
    <div class="row" style="border:2px dotted grey; padding:10px;margin:10px;">
        <div class="col-md-4">
            <input id="fileInput" type="file" file-model="myFile" style="padding:5px"/>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary" type="submit" ng-click="uploadFile()">Submit</button>
        </div>
    </div>
</div>
<br/>