<div>
    <div class="row">
        <div class="col-md-12">
            <h2>File Upload</h2>
        </div>

    </div>

</div>
<div>
    <div class="row" ng-repeat='(fileId, fileUpload) in fileUploads'
         style="border:2px dotted grey; padding:10px;margin:10px;">
        <div class="col-md-4">
            <span style="padding:5px">{{fileUpload.fileName}}</span>
        </div>
        <div class="col-md-2">
            {{fileUpload.numberOfMessages}} messages
        </div>

        <div class="col-md-6">
            <uib-progressbar style="margin-bottom:0px;"ng-class="{'active progress-striped' : fileUpload.numberUnProcessed > 0 }" max="fileUpload.numberOfMessages" value="fileUpload.numberProcessed"><span style="color:white; white-space:nowrap;">{{fileUpload.percentage}} %</span></uib-progressbar>
        </div>
    </div>
</div>
<div>
    <div class="row" style="border:2px dotted grey; padding:10px;margin:10px;">
        <div class="col-md-4">
            <input type="file" file-model="myFile" style="padding:5px"/>
        </div>
        <div class="col-md-8">
            <button class="btn btn-primary" type="submit" ng-click="uploadFile()">Submit</button>
        </div>
    </div>
</div>
<br/>
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--FILE UPLOAD:-->
        <!--<pre>{{fileUpload}}</pre>-->
    <!--</div>-->
<!--</div>-->
