span.hl7Part:hover {
    background-color: #337ab7;
    color: #fff;
    border-radius: .25em;

}
span.hl7Part {
    font-family: Fira Code,Menlo,Monaco,Consolas,'Courier New',monospace;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom:2px;
}
span.separator {
    font-family: Fira Code,Menlo,Monaco,Consolas,'Courier New',monospace;
    margin-left: -3px;
    margin-right: -3px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 900;
    /* font-size: 1.2em; */
    color: #949494;
}
