/* other fields */
textarea {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	white-space: pre;
  	overflow-x: auto;
}
.container {
	width: 90%;
	
}
.heading {
    /* border-bottom: 1px solid #aaa; */
    letter-spacing: 3px;
    margin: 0 0 10px;
    padding: 5px;
    text-transform: uppercase;
}

.loading span {
    font-size: larger;
}

.row button {
    margin-top: 15px;
}

/* for sticky footer */
html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 60px; /* matches footer height */
}

.footer {
    background-color: #c3c3c3;
    bottom: 0;
    color: white;
    height: 60px; /* fixed height of footer */
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}

/* for JSON formatting */
pre {
    background-color: #f7f7f7;
}

.hl7display {
    white-space: nowrap;
    overflow-x: scroll;
    font-family: monospace;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10px;
    background-color: #f7f7f7;
}
