/* other fields */
textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: pre;
    overflow-x: auto;
}

.heading {
    /* border-bottom: 1px solid #aaa; */
    letter-spacing: 3px;
    margin: 0 0 10px;
    padding: 5px;
    text-transform: uppercase;
}

.loading span {
    font-size: larger;
}

/* for JSON formatting */
pre {
    background-color: #f7f7f7;
}

/* for sticky footer */
html {
    min-height: 100%;
    position: relative;
}

body {
    /*     font-family: Avenir, "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1.5em; */
    margin-bottom: 60px; /* matches footer height */
}

.footer {
    background-color: #c3c3c3;
    bottom: 0;
    color: white;
    height: 40px; /* fixed height of footer */
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    width: 100%;
}



span.h7h { /* #h7h stands for HL7 Highlight */
    background-color: #cae3ea;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    /* font-weight:bold; */
    font-size: 1em;
    font-weight: bold;
    border-radius: .25em;
}

/* override the pagination UIB styles */
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #b1bcc5;
    border-color: #c5c5c5;
}

.table-striped > tbody > tr.h7h {
    font-weight: bold;
    background-color: #cae3ea;
}

.h7hActive {
    padding: 2px;
    cursor: pointer;
}

.h7hActive:hover {
    background-color: #337ab7; /*#c1c1c1;/*#5bc0de;*/
    color: white; /*#4c4c4c;*/
    padding: 2px;
    border-radius: .25em;
}

div.calToolTip {
    width: 200px;
    padding-left: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.calToolTip p.key {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 10px;
}

.calToolTip p.value {
    padding-bottom: 7px;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 1;
    /* padding: 5px; */
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* fixes fake buttons so they can be disabled (so the user can't click on them) but still have bright colors */
.fakebtn:disabled {
    opacity: 1;
}

.messageList-header {
    font-size: 2em;
    margin-top: 0;
}

.recently {
    margin-bottom: -23px;
    margin-left: 9px;
    font-weight: 400;
    color: #5f5f5f;
}

.results {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 0 30px;
    right: 15px;
}

.resultsBtn {
    background-color: #f2f2f2;
    border-color: darkgray;
    border-radius: 6px;
    color: #444;
    font-size: 16px;
    margin: 3px 0;
    width: 60px;
}

.resultsBtn:active:focus {
    outline: 0;
}

.resultsBtn.active, .resultsBtn.active:hover, .resultsBtn.active:focus {
    background-color: #b2d1da;
    font-weight: bold;
    position: relative;
    left: 17px;
    outline: 0;
}

.resultsBtn:hover {
    background-color: #e1e1e1;
}

.resultsNav {
    padding-top: 20px;
    z-index: 1;
}

.typeahead label {
    color: #5f5f5f;
}

.typeahead input {
    font-size: 1.6em;
    height: 60px;
    padding-left: 20px;
    /* margin:7px; */
}

.typeahead input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: .8em;
    color: #5f5f5f;
}

.typeahead input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: .8em;
    color: #5f5f5f;
    opacity: 1;
}

.typeahead input::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: .8em;
    color: #5f5f5f;
    opacity: 1;
}

.typeahead input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: .8em;
    color: #5f5f5f;
}

.valueText {
    font-size: 15px;
}

input[type="file"], .upload-file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.upload-file-name {
	padding:0;
	display:block;
}

input[type="file"] {
    width:100%;   
}

input[type="password"] {
    font-size:20px;
}
