<div class="container" style="padding-top: 20px;" *ngIf="messageDetail$ | async as details">
    <a routerLink="/dashboard" (click)="goBack()">
      <fa-icon icon="chevron-left"></fa-icon> Return to list
    </a>
    <div class="row" style="padding-top:40px;">
        <div class="col-sm-auto"><h3>Message Information</h3></div>
      </div>
  <div class="row">
    <div class="col-sm-auto">
  <table class="table">
    <tr>
      <td class="col-sm-auto">Sender</td>
      <td class="col-sm-auto">
                {{details.providerKey}}
      </td>
    </tr>
    <tr>
      <td>Received Date</td>
      <td>{{details.messageMetaData.received | date : 'yyyy-MM-dd HH:mm:ss'}}
      </td>
    </tr>
    <tr>
      <td>Patient Name</td>
      <td>{{details.messageMetaData.patientName}}</td>
    </tr>
    <tr>
      <td>CVX List</td>
      <td>{{details.messageMetaData.cvxList}}</td>
    </tr>
    <tr>
      <td>Control Id</td>
      <td>{{details.messageMetaData.messageControlId}}</td>
    </tr>
    <tr>
        <td>Errors</td>
        <td>
            <button class="btn btn-xs btn-success fakebtn" disabled
            [ngClass]="{'btn-danger':details.messageMetaData.errorsCount>0, 'btn-info':details.messageMetaData.errorsCount == 0} "
            style="cursor:default;">
            {{details.messageMetaData.errorsCount}}
            </button>
        </td>
      </tr>
      <tr>
          <td>Warnings</td>
          <td>
              <button class="btn btn-xs btn-success fakebtn" disabled
              [ngClass]="{'btn-warning':details.messageMetaData.warningsCount > 0, 'btn-info':details.messageMetaData.warningsCount == 0} "
              style="cursor:default;">
              {{details.messageMetaData.warningsCount}}
              </button>
          </td>
        </tr>
  </table>
  </div>
</div>

<div class="row" style="padding-bottom:30px;">
  <div class="col-sm-12">
    <div class="card" [ngClass]="{'bg-light':details.detections.length <= 0, 'bg-light':details.detections.length > 0}" style="background-color:#fff!important; border-color:#a94442!important">
      <div class="card-header">
        <h3 class="card-title" style="color:#a94442">Issues Detected</h3>
        <table class="table table-striped">
          <thead>
          <tr>
            <th style="color:#a94442">Location</th>
            <th style="color:#a94442">Value</th>
            <th style="color:#a94442">Message</th>
            <th style="color:#a94442">Severity</th>
          </tr>
          </thead>
          <tr *ngFor="let d of details.detections" [ngClass]="{'detection-warn':d.severity=='W'}">
            <td>{{d.location}}</td>
            <td>{{d.originalFieldValue}}</td>
            <td>{{d.description}}</td>
            <td>{{d.severity}}</td>
          </tr>
        </table>
      </div>
      <div *ngIf="details.detections.length <= 0" class="bg-body">
        No Errors or Warnings!
      </div>
    </div>
  </div>
</div>

<!-- <div class="row" style="margin:10px;width:600px;padding:30px; border:1px solid orange">
  <div class="col-sm-12">
  <h4>Dev View:</h4>
  <button (click)="showJson=!showJson">Show Raw JSON</button>
  <pre [hidden]="!showJson">{{details | json}}</pre>
</div>
</div> -->

  <h2>Message Received</h2>
  <app-hl7-view [hl7Text]='details.messageReceived' ></app-hl7-view>
  <br />
  <h2>Simulated ACK</h2>
  <app-hl7-view [hl7Text]='details.messageResponse' ></app-hl7-view>

</div>

<!-- <div class="row">
  <div class="col-sm-6 ">
    <div class="form-group has-feedback">
      <label>Find in message: </label>
      <input type="text" ngModel="filterText.$" class="form-control"
            placeholder="type / click message"
            ng-change="clearSearch();"/>

      <span *ngIf="filterText?.$"
            (click)="filterText.$ = '';hIdx=-1;"
            class="glyphicon glyphicon-remove form-control-feedback"
            style="cursor: pointer; pointer-events: all;"
            uib-tooltip="clear">
      </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-1 resultsNav">
    <div class="row" *ngFor="let segment of segmentList">
      <div class="col-xs-12">
        <button class="btn btn-default resultsBtn"
                (click)="toggleTab($index+1);"
                [ngClass]="{active: $index===current.segment-1}">
          {{segment.name}}
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-11 results" style="min-height:450px;">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-sm-3">Value</th>
        <th class="col-sm-1">Segment</th>
        <th class="col-sm-2">Location</th>
        <th class="col-sm-2">Field Repetition</th>
        <th class="col-sm-4">Location Description</th>
      </tr>
      </thead>
      <tbody>
      <tr style="cursor:pointer;"
          *ngFor="let part of filterData = (details.vxuParts | filter: filterText | filter : {segmentIndex:current.segment} : true)"
          (click)="setHoverIndex(part)" [ngClass]="{'h7h':hIdx==part.valueIndex}">
        <td class="valueText">{{part.value}}</td>
        <td>{{part.segmentIndex}}</td>
        <td>{{part.location}}</td>
        <td>{{part.fieldRepetition}}</td>
        <td>{{part.locationDescription}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" style="height: 20px;margin-top:50px;">
  &nbsp;
</div> -->