<div class="container">
  <div class="row">
    <strong class="col-sm-3" style="padding-left: 5px; word-break: break-all;">{{fileUploadInfo?.fileName}}</strong>
    <div class="col-sm-5">
      <ngb-progressbar  showValue="true" [value]="fileUploadInfo.percentage" [type]="fileUploadInfo?.status === 'exception' ? 'danger' : fileUploadInfo?.status === 'finished' ? 'success' : 'info'"></ngb-progressbar>
      <div *ngIf="fileUploadInfo?.status === 'started'">
        ({{ (((fileUploadInfo?.numberUnProcessed * fileUploadInfo?.averageElapsed) / 1000) | number: '1.2') }}s estimated remaining)
      </div>
    </div>
    <div class="col-sm-2">
      <div  *ngIf="fileUploadInfo?.status === 'reading'">
        reading file ...
        <br/><span *ngIf="fileUploadInfo?.numberOfMessages > 0">{{fileUploadInfo?.numberOfMessages}} loaded</span>
      </div>
      <div style="padding-top:5px;padding-bottom:5px;" *ngIf="fileUploadInfo?.status === 'started'">
        {{fileUploadInfo?.numberProcessed}} of {{fileUploadInfo?.numberOfMessages}}<br />
        ({{fileUploadInfo?.averageElapsed}} ms avg)
      </div>
      <div style="padding-top:5px;padding-bottom:5px;" *ngIf="fileUploadInfo?.status === 'finished'">
        {{fileUploadInfo?.numberProcessed}} messages<br />
        ({{fileUploadInfo?.averageElapsed}} ms avg)<br />
        Elapsed - {{fileUploadInfo?.elapsedTimeMs}}<br />
      </div>
      <div style="padding-top:5px;padding-bottom:5px;" *ngIf="fileUploadInfo?.status === 'deleting'">
        {{fileUploadInfo?.numberProcessed}} messages<br />
        ({{fileUploadInfo?.averageElapsed}} ms avg)<br />
        Deleting...<br />
      </div>
      <div style="padding-top:5px;padding-bottom:5px;" *ngIf="fileUploadInfo?.status === 'exception'">
        {{fileUploadInfo?.numberProcessed}} of {{fileUploadInfo?.numberOfMessages}}<br />
        (Exception Occurred)<br />
      </div>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-secondary" style="margin-right: 2px;" (click)="downloadAcks(fileUploadInfo?.fileId, fileUploadInfo?.fileName)" [disabled]="fileUploadInfo?.status !== 'finished'">
        <fa-icon icon="download"></fa-icon> Acks
      </button>
      <button class="btn btn-danger">
        <fa-icon icon="trash-alt"></fa-icon>
      </button>
    </div>
  </div>
</div>
